//@import '../node_modules/font-awesome/scss/font-awesome.scss';

@import '../node_modules/daterangepicker/daterangepicker.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.treatmentItem,
.roomItem {
    margin-right: 40px;
}

.treatmentRow:nth-child(odd) {
    background-color: #b2b2b2;
}
.treatmentRow:nth-child(even) {
    background-color: #f4e1d2;
}

.roomRow:nth-child(odd) {
    background-color: #f18973;
}

.roomRow:nth-child(even) {
    background-color: #f4e1d2;
}

a {
    display:block;
}

.cart-dropdown {
    position: relative;
    
}

.cart-btn {
    border: none;
    font-size: medium;
}

// .cart-counter {
//     //padding: 4px 10px;
//     //background-color: orangered;
//     box-shadow: 0 0 5px  rgba(0,0,0,0.6);
//     border-radius: 50%;
//     border: none;
//     font-size: xx-small;
//     margin-top: 20px;
// }

.divider {
    border-bottom: 0.5px solid lightgrey;
}

.navbar-brand {
    font-size: medium;
}

.cart-content {
    position: absolute;
    display: none;
    z-index: 10;
    left: -55px;
    font-size: small;
    padding: 5px;
    margin: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 2%;
}

.cart-total {
    //padding-left: 150px;
    font-weight: bold;
}

.cart-content a {
    color: gray;
    text-decoration: none;
    display: block;
    padding: 2px 5px;
  }

.cart-content a:hover {
    background-color: #e0e2e4;
    color: black;
}

.cart-dropdown:hover .cart-content {
    display: block;
}

.div_hover {
    color: gray;
}

.div_hover:hover {
    color: orangered;
}

.simple-input {
    margin: 15px;
}

// .home-page {
//     background-color: #d5f4e6;
//     height: 85vh;
// }



