.room-cart-item,
.treatment-cart-item {
    color: black;
}

.booking-container {
    background-color: whitesmoke;
    opacity: 0.8;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    border-radius: 1%;
    padding: 1rem;
}

.booking-list-item {
    //display: inline-block;
}

.booked-rooms,
.booked-treatments {
    padding: 1rem;
}

.remove-btn {
    margin-left: 1rem;
}