@media (max-width: 767px) {
    .room-description p:not([class="mobile"]){
        display: none;
    }
  
}

@media (max-width: 1023px) {
    .room-description p.ipad{
        display: none;
    }
  
}

.input-daterange {
    width: 14rem;
    margin: 0;
    text-align: center;
}

.jumbotron-rooms {
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.global-rooms-list {
    padding-bottom: 3rem;
    margin: 0;
}

#rooms-list {
    width: 80%;
    margin: 0 auto;
}

.room-li {
    height: 35rem;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    border-radius: 1%;
    padding: 1rem;
}

.room-box {
    width: 100%;
    height: 100%;
}

.room-left {
    display: flex;
    flex-direction: row;
}

.room-right {
    display: flex;
    flex-direction: row-reverse;
}

.room-image {
    height: 100%;
    width: 50%;
}

.room-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.room-box-content {
    position: relative;
    padding: 2rem 1rem 1rem 1rem;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    opacity: 0.5;
    width:50%;
}

.room-name {
    font-size: 2rem;
    font-weight: bold;
}

.room-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.room-footer {
    padding-top: 1rem;
    position: absolute;
    bottom: 0.5rem;
    border-top: 0.5px solid lightgrey;;
}

button[id*="room-order-btn-"] {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 1;
}

.hidden {
    display: none;
}
